* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Song Myung", serif;
}

.con3 {
  text-align: center;
  background-color: #efe9e3;
  padding: 50px 0px;
}
.con3 h2 {
  font-size: 40px;
}
.con3 h4 {
  font-size: 24px;
  margin: 50px 0px;
}
