/* UTF-8 인코딩 명시 */
@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
/* Song Myung 폰트 불러오기 */
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Nanum+Gothic&family=Song+Myung&display=swap");
body {
  font-family: "Song Myung", serif;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  color: #fff;
  width: 100%;
}
.footer-container {
  gap: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  padding: 0 60px;
}
.footer-left {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}
.footer-left p {
  font-size: 11px;
}
.footer-left span {
  font-size: 22px;
}
.footer-left img {
  height: 50px;
}
.footer-center {
  text-align: center;
  font-size: 12px;
  line-height: 1.5;
  justify-content: flex-end;
  padding: 0 60px;
}
.footer-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.footer-right a img {
  width: 24px;
  height: 24px;
  filter: brightness(0) invert(1);
}
@media (min-width: 768px) and (max-width: 1024px) {
  .footer-right {
    grid-template-columns: repeat(4,1fr);
    gap: 8px;
  }
  }
@media (max-width: 767px) {
  .footer-container{
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
  }
  .footer-right {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}