/* UTF-8 인코딩 명시 */
@charset "UTF-8";

/* Song Myung 폰트 불러오기 */
@import url("https://fonts.googleapis.com/css2?family=Black+And+White+Picture&family=Nanum+Gothic&family=Song+Myung&display=swap");

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}
/* 헤더 스타일 */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #222222;
  padding: 16px;
}

/* 로고 스타일 */
.logo a {

  display: flex;
  align-items: end;
  gap: 0.625em;
  text-decoration: none;
  color: #ffffff;
}
.logo p {
  border-left: #ffffff solid 2px;
  padding: 10px;
}

/* 네비게이션 스타일 */
.nav-links {
  list-style: none;
  display: flex;
  gap: 30px;
}
ul li {
  list-style: none;
  display: inline;
}
ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 28px;
  font-family: "Song Myung", serif;
}
ul li a:hover {
  text-decoration: underline;
}
ul li a.active {
  font-weight: bold;
  opacity: 0.1;
}

/* 햄버거 버튼 스타일 */
.hamburger {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
button {
  background-color: #222222;
  border: none;
  font-size: 80px;
}
/* 반응형 디자인 */
/* 태블릿 스타일 */
@media (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 17px;
  }
  .navlinks {
    display: block;
  }
}
/* 모바일 스타일 */
@media (max-width: 767px) {
  body {
    font-size: 14px;
  }
  #hamburger {
    display: block;
  }
  .nav-links{
    display: none;
    flex-direction: column;
    background-color: #222222;
    padding: 10px 0;
    position: relative;
    z-index: 10;
  }
  .nav-links a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
  }
  .nav-links a:hover {
    text-decoration: underline;
  }
  .hamburger {
    cursor: pointer;
    background: none;
    border: none;
    color: #ffffff;
    font-size: 24px;
  }
}